/Makefile
/blib
/pm_to_blib
/META.yml
/MYMETA.yml
/Makefile.PL
/Build
/_build
/Chart-OFC2-*
/MANIFEST.bak
/cover_db
/t/output/bar.html
/t/output/pie.html
/t/output/hbar.html
/t/output/line.html
/t/output/scatter.html
/t/output/*.json
